version: 2
updates:
  - package-ecosystem: "composer" 
    directory: "/tasmoadmin"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm" 
    directory: "/tasmoadmin"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
