.idea
/RELEASE/
/_release/


/sonweb/tmp/cache/i18n/*
/sonweb/tmp/reloxx13-SonWEB-*
/sonweb/lang/lang_new.ini

/sonweb/data/firmwares/*
/sonweb/data/devices.csv
/sonweb/data/devices_bk.csv
/sonweb/data/MyConfig.php
/sonweb/sonweb/resources/css/custom.css

/sonweb/data/updates/*.zip


/sonweb/dev/*




!.empty
!.htaccess
