.idea
/RELEASE/
/_release/


/tasmoadmin/tmp/sessions/*
/tasmoadmin/tmp/cache/i18n/*
/tasmoadmin/tmp/reloxx13-tasmoadmin-*
/tasmoadmin/lang/lang_new.ini

/tasmoadmin/data/firmwares/*
/tasmoadmin/data/devices.csv
/tasmoadmin/data/devices_bk.csv
/tasmoadmin/data/MyConfig.php
/tasmoadmin/data/MyConfig.json
/tasmoadmin/tasmoadmin/resources/css/custom.css
/tasmoadmin/tasmoadmin/resources/css/custom.min.css
/tasmoadmin/resources/css/custom.css
/tasmoadmin/resources/css/custom.min.css

/tasmoadmin/data/updates/*.zip


/tasmoadmin/dev/*




!.empty
!.htaccess
/tasmoadmin/data
/tasmoadmin/.dockerenv

/portable/xampp
/portable/xampp_draft.zip
!/portable/xampp.zip.*
/_tmp/
/_releases/
/_artifacts/
/.docker/_tmp/
portable/xampp.zip
