@media only screen and (max-width : 1141px) {
	#content-holder, #content-holder.full-width {
		width : calc(100% - 201px);
	}
	
	p.warning {
		width : 80%;
	}
}

@media only screen and (max-width : 962px) {
	table {
		width : 100%;
	}
	
	table tr th, table tr td {
		display : block;
	}
	
	.tablesaw th, .tablesaw td {
		padding : 0px 3px;
	}
}

@media only screen and (max-width : 854px) {
	.hide-mobile {
		display : none;
	}
	
	#footer {
		display : none;
	}
	
	html {
		height : 100%;
	}
	
	#content-holder {
		height : calc(100% - 81px);
	}
	
	#content-holder, #content-holder.full-width {
		width  : calc(100% - 40px);
		border : none;
	}
	
	#header h1 {
		display : inline-block;
		width   : calc(100% - 185px);
	}
	
	#language-switch, #language-switch-button {
		top   : 5px;
		right : 10px;
	}
	
	.hamburger {
		cursor   : pointer;
		position : absolute;
		left     : 16px;
		top      : 9px;
		display  : block;
	}
	
	.hamburger span {
		display    : block;
		width      : 19px;
		height     : 3px;
		margin     : 4px 0;
		background : #008FCC;
		z-index    : 99;
	}
	
	.hamburger:hover span {
		background : #0037CC;
	}
	
	.hamburger.open {
		-webkit-transform : rotate(90deg);
		transform         : rotate(90deg);
		top               : 10px;
		left              : 16px;
	}
	
	#navi {
		display    : none;
		margin-top : 0px;
	}
	
	#navi.show {
		display          : block;
		position         : absolute;
		width            : 100%;
		background-color : #FFFFFF;
		z-index          : 1;
		text-align       : center;
	}
	
}

@media only screen and (max-width : 371px) {
	#content-holder, #content-holder, #content-holder.full-width {
		height  : calc(100% - 61px);
		width   : 100%;
		padding : 0px;
	}
	
	.center-table {
		border : 0px none;
	}
}