@media only screen and (max-width : 1141px) {
	#content-holder, #content-holder.full-width {
		width : calc(100% - 201px);
	}
	
	p.warning {
		width : 80%;
	}
}

@media only screen and (max-width : 802px) {
	.hide-mobile {
		display : none;
	}
	
	#footer {
		display : none;
	}
	
	html {
		height : 100%;
	}
	
	#content-holder, #content-holder.full-width {
		width  : calc(100% - 40px);
		border : none;
	}
	
	#header h1 {
		display : inline-block;
		width   : calc(100% - 130px);
	}
	
	.hamburger {
		cursor   : pointer;
		position : absolute;
		left     : 16px;
		top      : 15px;
		display  : block;
	}
	
	.hamburger span {
		display    : block;
		width      : 19px;
		height     : 3px;
		margin     : 4px 0;
		background : #008FCC;
		z-index    : 99;
	}
	
	.hamburger:hover span {
		background : #0037CC;
	}
	
	.hamburger.open {
		-webkit-transform : rotate(90deg);
		transform         : rotate(90deg);
		top               : 15px;
		left              : 16px;
	}
	
	#navi {
		display    : none;
		margin-top : 0px;
	}
	
	#navi.show {
		display          : block;
		position         : absolute;
		width            : 100%;
		background-color : #FFFFFF;
		z-index          : 1;
		text-align       : center;
	}
	
}

@media only screen and (max-width : 657px) {
	table {
		width : 100%;
	}
	
	table tr th, table tr td {
		display : block;
	}
	
}

@media only screen and (max-width : 371px) {
	#content-holder {
		height : calc(100% - 56px - 80px);
	}
}