body {
	min-height  : 100vh;
	position    : relative;
	margin      : 0;
	font-size   : 1rem;
	line-height : 1.2rem;
}

footer, .footer {
	position : fixed;
	bottom   : 0;
	width    : 100%;
	
}

#content {
	padding : 70px 50px;
}

.btn {
	width                 : 100%;
	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
}

.btn-green {
	background-color : #02A030;
	border-color     : #02A030;
}

.no-hover {
	cursor : default !important;
	
}

.no-hover:hover, .no-hover:focus, .no-hover:active {
	cursor     : default !important;
	box-shadow : none !important;
}

.btn-primary.no-hover:hover, .btn-primary.no-hover:focus, .btn-primary.no-hover:active {
	background-color : #007BFF !important;
	border-color     : #007BFF !important;
}

.btn-secondary.no-hover:hover, .btn-secondary.no-hover:focus, .btn-secondary.no-hover:active {
	background-color : #6C757D !important;
	border-color     : #6C757D !important;
}

.btn-green.no-hover:hover, .btn-green.no-hover:focus, .btn-green.no-hover:active {
	background-color : #02922C !important;
	border-color     : #02922C !important;
}

.fas {
	color : #008FCC;
}

a.fas:hover, a:hover .fas {
	color : #0037CC;
}

a.delete .fas, a .error .fas, a .fas.error {
	color : #E4001C;
}

a.delete .fas:hover, a .error .fas:hover, a .fas.error:hover {
	color : #A10016;
}

a.add .fas, a .fas.add {
	color : #19D300;
}

a.add .fas:hover, a .fas.add:hover, a:hover .fas.add {
	color : #3CA100;
}

.navbar-dark .navbar-nav .show .nav-link:hover, .navbar-dark .navbar-nav .show .nav-link:focus {
	color            : rgba(255, 255, 255, 0.75);
	background-color : transparent;
}

.navbar-dark .navbar-nav .show .nav-link {
	color : rgba(255, 255, 255, 0.5);
}

.dropdown-item.active, .dropdown-item:active, .navbar-dark .navbar-nav .show .nav-link.active {
	color            : #FFFFFF;
	background-color : transparent;
}

.tablesaw-stack td.more, .tablesaw-stack th.more, .tablesaw-stack thead td.more, .tablesaw-stack thead th.more {
	display : none;
}

.dontselect {
	-webkit-user-select : none;
	-khtml-user-select  : none;
	-moz-user-select    : none;
	-o-user-select      : none;
	user-select         : none;
}

.table-striped tbody tr:nth-of-type(2n+1) td {
	background-color : rgba(0, 0, 0, 0.05);
}

.table th, .table td {
	border : 0 none;
}

.tablesaw-stack td.actions {
	display   : table-cell;
	min-width : 210px;
	width     : auto;
}

td.actions span {
	text-align : center;
}

td.actions a {
	text-align : center;
}

td.actions a i {
	padding : 10px;
}

td.status {
	cursor : pointer;
}

td.runtime {
	white-space : nowrap;
}

.form-switch {
	display                     : inline-block;
	cursor                      : pointer;
	-webkit-tap-highlight-color : transparent;
}

.form-switch i {
	position         : relative;
	display          : inline-block;
	margin-right     : .5rem;
	width            : 46px;
	height           : 26px;
	background-color : #E6E6E6;
	border-radius    : 23px;
	vertical-align   : text-bottom;
	transition       : all 0.3s linear;
}

.form-switch i::before {
	content          : "";
	position         : absolute;
	left             : 0;
	width            : 42px;
	height           : 22px;
	background-color : #FFFFFF;
	border-radius    : 11px;
	transform        : translate3d(2px, 2px, 0) scale3d(1, 1, 1);
	transition       : all 0.25s linear;
}

.form-switch i::after {
	content          : "";
	position         : absolute;
	left             : 0;
	width            : 22px;
	height           : 22px;
	background-color : #FFFFFF;
	border-radius    : 11px;
	box-shadow       : 0 2px 2px rgba(0, 0, 0, 0.24);
	transform        : translate3d(2px, 2px, 0);
	transition       : all 0.2s ease-in-out;
}

.form-switch:active i::after {
	width     : 28px;
	transform : translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
	transform : translate3d(16px, 2px, 0);
}

.form-switch input {
	display : none;
}

.form-switch input:checked + i {
	background-color : #008FCC;
}

.form-switch input:checked + i::before {
	transform : translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
	transform : translate3d(22px, 2px, 0);
}

.form-switch.error i::before, .form-switch.error input:checked + i {
	background-color : red;
}

.box_device {
	border           : 1px solid #0037CC;
	position         : relative;
	cursor           : pointer;
	border-radius    : 5px;
	background-color : transparent;
}

.box_device.error {
	border : 1px solid red;
}

.box_device .rubberBand {
	text-align : center;
}

.box_device img {
	max-width  : 60%;
	padding    : 30px 10px 50px;
	box-sizing : border-box;
	height     : auto;
}

.box_device .box_device_name {
	background-color : rgba(0, 148, 204, 0.8);
	color            : #FFFFFF;
	text-shadow      : none;
	text-align       : center;
	position         : absolute;
	bottom           : 0px;
	width            : 100%;
	padding          : 3px 2px;
	box-sizing       : border-box;
	font-size        : 0.8rem;
	line-height      : 1rem;
	max-height       : 2.3rem;
	overflow         : hidden;
}

.box_device .info-holder {
	position : absolute;
	width    : 100%;
	height   : 100%;
}

.box_device .info {
	position         : relative;
	padding          : 3px;
	background-color : rgba(0, 148, 204, 0.8);
	color            : #FFFFFF;
	text-shadow      : #FFFFFF 0px 0px 10px;
	font-size        : 0.8rem;
	line-height      : 0.9rem;
	overflow         : hidden;
}

@media all and (min-width : 1200px) {
	.box_device .info {
		font-size : 0.5rem;
	}
}

@media all and (min-width : 1351px) {
	.box_device .info {
		font-size : 0.6rem;
	}
}

@media all and (min-width : 1471px) {
	.box_device .info {
		font-size : 0.8rem;
	}
}

.box_device .info-1 {
	top   : 0px;
	left  : 0px;
	float : left;
}

.box_device .info-2 {
	top   : 0px;
	right : 0px;
	float : right;
}

.box_device .info-3 {
	top   : 10px;
	left  : 0px;
	float : left;
	clear : both;
}

.box_device .info-4 {
	top   : 10px;
	right : 0px;
	float : right;
}

.box_device .info-5 {
	top   : 20px;
	left  : 0px;
	float : left;
	clear : both;
}

.box_device .info-6 {
	top   : 20px;
	right : 0px;
	float : right;
}

#progressbox span {
	width       : 100%;
	display     : block;
	font-size   : 0.8rem;
	line-height : 1rem;
}

#progressbox span.error {
	color : red;
}

#progressbox span.success {
	color : green;
}

#progressbox span.warning {
	color : darkorange;
}

.custom-control-label::before {
	border           : 1px solid;
	background-color : #FFFFFF;
}

.table-responsive {
	width : auto;
}

.table tfoot th {
	border-top : 2px solid #DEE2E6;
}

.hidden,
.tablesaw-stack td.hidden, .tablesaw-stack th.hidden, .tablesaw-stack thead td.hidden, .tablesaw-stack thead th.hidden {
	display : none;
}

hr {
	border-color : #343A40;
}

.modal-header > h3:nth-child(1) {
	color : #4B4B4B;
}

#commandInputError {
	color : green;
}

.has-error #commandInputError {
	color : red;
}

#update-icon {
	font-size : 0.7rem;
	position  : relative;
	top       : -1px;
	cursor    : pointer;
}

#versionHolder {
	cursor : pointer;
}

.update-now #update-icon {
	color : #CA8500 !important;
}

.nightmode {
	background-color : #44494F;
	color            : rgba(255, 255, 255, 0.5);
}

.nightmode .box_device {
	border-color : #284681;
}

.nightmode .box_device.error {
	border-color : #77010F;
}

.nightmode .box_device .info {
	background-color : rgba(0, 148, 204, 0.4);
}

.nightmode .form-switch i::before {
	background-color : #284681;
}

.nightmode .form-switch i::after {
	background-color : #031959;
}

.nightmode .form-switch i {
	background-color : #284681;
}

.nightmode .form-switch input:checked + i {
	background-color : #007EB4;
}

.nightmode .form-switch.error i::before, .nightmode .form-switch.error input:checked + i {
	background-color : #77010F;
}

.nightmode a {
	color : #00A0E4;
}

.nightmode a:hover {
	color : #00B8FF;
}

.nightmode .fas {
	color : #00628C;
}

.nightmode a.fas:hover, .nightmode a:hover .fas {
	color : #007EB4;
}

.nightmode a.delete .fas, .nightmode a .error .fas, .nightmode a .fas.error {
	color : #77010F;
}

.nightmode a.delete .fas:hover, .nightmode a .error .fas:hover, .nightmode a .fas.error:hover {
	color : #A10016;
}

.nightmode a.add .fas, .nightmode a .fas.add {
	color : #3CA100;
}

.nightmode a.add .fas:hover, .nightmode a .fas.add:hover, .nightmode a:hover .fas.add {
	color : #19D300;
}

.nightmode .nav-tabs {
	border-color : rgba(255, 255, 255, 0.5);
}

.nightmode .nav-tabs .nav-link.active, .nightmode .nav-tabs .nav-item.show .nav-link {
	background-color : transparent;
	color            : #FFFFFF;
}

.nightmode .nav-tabs .nav-link {
	border                  : 1px solid rgba(255, 255, 255, 0.5);
	border-top-left-radius  : 0.25rem;
	border-top-right-radius : 0.25rem;
	color                   : rgba(255, 255, 255, 0.5);
}

.nightmode .nav-tabs .nav-link:hover {
	border                  : 1px solid rgba(255, 255, 255, 0.75);
	border-top-left-radius  : 0.25rem;
	border-top-right-radius : 0.25rem;
	color                   : rgba(255, 255, 255, 0.75);
}

.nightmode input, .nightmode select, .nightmode .custom-control-label::before, .nightmode .custom-file-label, .nightmode .custom-file-label::after {
	
	background-color : #343A40 !important;
	color            : rgba(255, 255, 255, 0.5);
}

.nightmode select {
	background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23ffffff\' fill-opacity=\"0.5\" d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E");
}

.nightmode select:focus {
	background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23ffffff\' fill-opacity=\"0.75\" d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E");
}

.nightmode .form-control:focus, .nightmode .custom-select:focus, .nightmode .custom-control-label::before {
	border-color : rgba(255, 255, 255, 0.75);
	color        : rgba(255, 255, 255, 0.75);
	box-shadow   : 0 0 0 0.1rem rgba(255, 255, 255, 0.1);
}

.nightmode hr {
	border-color : rgba(255, 255, 255, 0.5);
}

.nightmode .btn-primary, .nightmode .navbar-dark .navbar-text a {
	color : rgba(255, 255, 255, 0.8);
}

.nightmode .btn-primary:hover, .nightmode .navbar-dark .navbar-text a:hover {
	color : #FFFFFF;
}

.nightmode .btn-secondary {
	color : rgba(255, 255, 255, 0.8);
}

.nightmode .btn-secondary:hover {
	color : #FFFFFF;
}

.nightmode .footer .navbar-dark .navbar-text a {
	color : #00628C;
}

.nightmode .footer .navbar-dark .navbar-text a:hover {
	color : #007EB4;
}
