parameters:
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests
	level: 4
	scanFiles:
		- %currentWorkingDirectory%/includes/bootstrap.php
		- %currentWorkingDirectory%/tests/bootstrap.php
