parameters:
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests
	level: 5
	scanFiles:
		- %currentWorkingDirectory%/includes/bootstrap.php
		- %currentWorkingDirectory%/tests/bootstrap.php
