.animated {
  animation-duration        : 2.5s;
  animation-fill-mode       : both;
  animation-iteration-count : infinite;
  &.flash {
    animation-name : flash;
  }
  &.pulse {
    animation-name     : pulse;
    animation-duration : 1s;
  }
  &.rubberBand {
    animation-name : rubberBand;
  }
  &.shake {
    animation-name : shake;
  }
  &.swing {
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin : top center;
    animation-name   : swing;
  }
  &.wobble {
    animation-name : wobble;
  }
  &.lightSpeedIn {
    animation-name            : lightSpeedIn;
    animation-timing-function : ease-out;
  }
  &.rollIn {
    animation-name : rollIn;
  }
  &.rotateIn {
    animation-name : rotateIn;
  }
  &.hinge {
    margin         : 20px;
    animation-name : hinge;
  }
  &.animated.flip {
    //Instead of the line below you could use @include backface-visibility($visibility)
    backface-visibility : visible;
    animation-name      : flip;
  }
}

@keyframes bounce {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateY(0);
  }
  20% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateY(0);
  }
  50% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateY(0);
  }
  80% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateY(0);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateY(0);
  }
  40% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateY(-30px);
  }
  60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateY(-15px);
  }
}

.bounce {
  animation-name : bounce;
}

@keyframes flash {
  0% {
    opacity : 1;
  }
  50% {
    opacity : 1;
  }
  100% {
    opacity : 1;
  }
  25% {
    opacity : 0;
  }
  75% {
    opacity : 0;
  }
}

@keyframes pulse {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scale(1);
  }
  50% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scale(1.1);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scale(1);
  }
}

@keyframes rubberBand {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scale(1);
  }
  30% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scaleX(1.15) scaleY(0.75);
  }
  40% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scaleX(0.85) scaleY(1.05);
  }
  60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scaleX(1.15) scaleY(0.85);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : scale(1);
  }
}

@keyframes shake {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(0);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(0);
  }
  10% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-10px);
  }
  30% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-10px);
  }
  50% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-10px);
  }
  70% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-10px);
  }
  90% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-10px);
  }
  20% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(10px);
  }
  40% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(10px);
  }
  60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(10px);
  }
  80% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(10px);
  }
}

@keyframes swing {
  20% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : rotate(15deg);
  }
  40% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : rotate(-10deg);
  }
  60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : rotate(5deg);
  }
  80% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : rotate(-5deg);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : rotate(0deg);
  }
}

@keyframes wobble {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(0%);
  }
  15% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-25%) rotate(-5deg);
  }
  30% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(20%) rotate(3deg);
  }
  45% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-15%) rotate(-3deg);
  }
  60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(10%) rotate(2deg);
  }
  75% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-5%) rotate(-1deg);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(0%);
  }
}

@keyframes flip {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : perspective(400px) translateZ(0) rotateY(0) scale(1);
    animation-timing-function : ease-out;
  }
  40% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    animation-timing-function : ease-out;
  }
  50% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function : ease-in;
  }
  80% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    animation-timing-function : ease-in;
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    animation-timing-function : ease-in;
  }
}

@keyframes lightSpeedIn {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(100%) skewX(-30deg);
    opacity   : 0;
  }
  60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-20%) skewX(30deg);
    opacity   : 1;
  }
  80% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(0%) skewX(-15deg);
    opacity   : 1;
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(0%) skewX(0deg);
    opacity   : 1;
  }
}

@keyframes rollIn {
  0% {
    opacity   : 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity   : 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateX(0px) rotate(0deg);
  }
}

@keyframes rotateIn {
  0% {
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin : center center;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform        : rotate(-200deg);
    opacity          : 0;
  }
  100% {
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin : center center;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform        : rotate(0);
    opacity          : 1;
  }
}

@keyframes hinge {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : rotate(0);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin          : top left;
    animation-timing-function : ease-in-out;
  }
  20% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : rotate(80deg);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin          : top left;
    animation-timing-function : ease-in-out;
  }
  60% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : rotate(80deg);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin          : top left;
    animation-timing-function : ease-in-out;
  }
  40% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : rotate(60deg);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin          : top left;
    animation-timing-function : ease-in-out;
  }
  80% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform                 : rotate(60deg) translateY(0);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin          : top left;
    animation-timing-function : ease-in-out;
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform : translateY(700px);
  }
}

@media all and(max-width : 680px) {
  .wrap {
    width : 100%;
  }
  .box {
    width  : 100%;
    height : 55px;
    clear  : both;
    margin : 0 auto;
  }
  .text {
    margin-top : 20px;
  }
  .hingebox {
    display : none;
  }
  .flipbox {
    display : none;
  }
}