.startpage {
  padding-top: 15px;

  .card-holder {
    padding-left: 5px;
    padding-right: 5px;

    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    @media (min-width: 200px) {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (min-width: 320px) {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 30%;
    }

    @media (min-width: 380px) {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }

    @media (min-width: 450px) {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }

    @media (min-width: 520px) {
      -ms-flex: 0 0 16.66666666666667%;
      flex: 0 0 16.66666666666667%;
      max-width: 16.66666666666667%;
    }
    @media (min-width: 650px) {
      -ms-flex: 0 0 15%;
      flex: 0 0 15%;
      max-width: 15%;
    }

    @media (min-width: 700px) {
      -ms-flex: 0 0 15%;
      flex: 0 0 15%;
      max-width: 15%;
    }

    @media (min-width: 760px) {
      -ms-flex: 0 0 12%;
      flex: 0 0 12%;
      max-width: 12%;
    }

    @media (min-width: 1000px) {
      -ms-flex: 0 0 10%;
      flex: 0 0 10%;
      max-width: 10%;
    }
    @media (min-width: 1100px) {
      -ms-flex: 0 0 8%;
      flex: 0 0 8%;
      max-width: 8%;
    }
    @media (min-width: 1200px) {
      -ms-flex: 0 0 7%;
      flex: 0 0 7%;
      max-width: 7%;
    }

    min-width: 15px !important;

    .card.box_device {
      border: 0px none;
      cursor: pointer;
      background-color: transparent;

      &.error {
      }

      .rubberBand {
        text-align: center;
      }

      img {
        padding: 0px 10px 0px;
        box-sizing: border-box;
        height: auto;
      }

      &.disabled:not(.ignoreProtection) {
        img {
          -webkit-filter: invert(40%);
          -moz-filter: invert(40%);
          -o-filter: invert(40%);
          -ms-filter: invert(40%);
          filter: invert(40%);
        }
      }

      .card-body {
        padding: 0px;
        text-align: center;
      }

      .box_device_name {
        color: $black;
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
        line-height: 1rem;
        overflow: hidden;
        margin-bottom: 3px;
        margin-top: 8px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .info-holder {
        //position : absolute;
        width: 100%;
        height: 100%;
        color: $black;

        .info {
          //position         : relative;
          padding: 0px;
          font-size: 0.8rem;
          line-height: 0.9rem;
          overflow: hidden;
        }
      }

      @media all and (min-width: 600px) {
        .box_device_name {
          font-size: 0.7rem;
          line-height: 0.7rem;
        }

        .info-holder {
          .info {
            font-size: 0.7rem;
            line-height: 0.7rem;
          }
        }
      }

      @media all and (min-width: 1200px) {
        .box_device_name {
          font-size: 0.9rem;
          line-height: 0.9rem;
        }

        .info-holder {
          .info {
            font-size: 0.9rem;
            line-height: 0.9rem;
          }
        }
      }
    }
  }
}

.nightmode {
  .startpage {
    .card-holder {
      .card.box_device {
        .box_device_name {
          color: $whiteNightMode;
        }

        .info-holder {
          color: $whiteNightMode;
        }

        &.error {
        }

        .info {
        }
      }
    }
  }
}
