//colors
$color_forest_green_approx : #02A030;
$color_azure_radiance_approx : #007BFF;
$color_pale_sky_approx : #6C757D;
$color_pacific_blue_approx : #008FCC;
$color_persian_blue_approx : #0037CC;
$color_monza_approx : #E4001C;
$color_carmine_approx : #A10016;
$color_green_approx : #19D300;
$color_la_palma_approx : #3CA100;
$white_75 : rgba(255, 255, 255, 0.75);
$white_50 : rgba(255, 255, 255, 0.5);
$white : #FFFFFF;
$black_5 : rgba(0, 0, 0, 0.05);
$color_mercury_approx : #E6E6E6;
$black_24 : rgba(0, 0, 0, 0.24);
$red : red;
$color_pacific_blue_80_approx : rgba(0, 148, 204, 0.8);
$color_japanese_laurel_approx : green;
$color_pizazz_approx : darkorange;
$color_tuna_approx : #343A40;
$color_gravel_approx : #4B4B4B;
$color_pirate_gold_approx : #CA8500;
$color_mako_approx : #44494F;
$color_bay_of_many_approx : #284681;
$color_venetian_red_approx : #77010F;
$color_pacific_blue_40_approx : rgba(0, 148, 204, 0.4);
$color_gulf_blue_approx : #031959;
$color_deep_cerulean_approx : #007EB4;
$color_cerulean_approx : #00A0E4;
$color_orient_approx : #00628C;
$white_10 : rgba(255, 255, 255, 0.1);
$white_80 : rgba(255, 255, 255, 0.8);