name: Main

on:
  push:
    branches: [master]
  pull_request: ~

jobs:
  phpstan:
    name: Run PHPStan
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Install PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: '8.1'
    - name: Install dependencies
      run: composer install -d tasmoadmin/
    - name: Run PHPStan
      run: |
        cd tasmoadmin
        ./vendor/bin/phpstan
  php-cs-fixer:
    name: Run php-cs-fixer
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Install PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: '8.1'
      - name: Install dependencies
        run: composer install -d tasmoadmin/
      - name: Run php-cs-fixer
        run: |
          cd tasmoadmin
          ./vendor/bin/php-cs-fixer fix --dry-run
  php-tests:
    name: Run PHP tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version: ['8.2', '8.1', '8.0']
    steps:
    - uses: actions/checkout@v3
    - name: Install PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: ${{ matrix.php-version }}
    - name: Install dependencies
      run: composer install -d tasmoadmin/
    - name: Run tests
      run: |
        cd tasmoadmin
        XDEBUG_MODE=coverage ./vendor/bin/phpunit --coverage-clover coverage.xml
    - uses: codecov/codecov-action@v3
      if: matrix.php-version == '8.1'
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./tasmoadmin/coverage.xml
  docker-test:
    name: Run Docker tests
    runs-on: ubuntu-20.04
    env:
      BUILD_REF: ${{ github.sha }}
      BUILD_VERSION: ${{ github.ref_name }}
    steps:
    - uses: actions/checkout@v3
    - name: Prepare
      run: |
        ./.docker/docker.sh prepare
    - name: Build docker images
      run: ./.docker/docker.sh build
    - name: Test docker images
      run: ./.docker/docker.sh test
  docker-release:
    name: Release docker dev build
    runs-on: ubuntu-20.04
    needs: docker-test
    if: github.ref == 'refs/heads/master' && github.event.repository.fork == false
    env:
      BUILD_REF: ${{ github.sha }}
      BUILD_VERSION: dev
    steps:
      - uses: actions/checkout@v3
      - name: Prepare
        run: |
          ./.docker/docker.sh prepare
      - name: Build docker images
        run: ./.docker/docker.sh build
      - name: Tag all docker images
        run: ./.docker/docker.sh tag
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push all docker images
        run: ./.docker/docker.sh push
      - name: Create and push manifest list
        run: ./.docker/docker.sh manifest-list
