name: Main

on:
  push:
    branches: [master]
  pull_request: ~

jobs:
  test:
    runs-on: ubuntu-20.04
    env:
      BUILD_REF: ${{ github.sha }}
      BUILD_VERSION: ${{ github.ref_name }}
    steps:
    - uses: actions/checkout@master
    - name: Prepare
      run: |
        mkdir _tmp
        ./.docker/docker.sh prepare
    - name: Build docker images
      run: ./.docker/docker.sh build
    - name: Test docker images
      run: ./.docker/docker.sh test
