name: Release

on:
  push:
    tags:
      - '*'

env:
  BUILD_REF: ${{ github.sha }}
  BUILD_VERSION: ${{ github.ref_name }}

jobs:
  release-docker:
    name: Release new version
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - name: Prepare
      run: |
        ./.docker/docker.sh prepare
    - name: Build docker images
      run: ./.docker/docker.sh build
    - name: Test docker images
      run: ./.docker/docker.sh test
    - name: Tag all docker images
      run: ./.docker/docker.sh tag
    - name: Package
      run: make package
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Push all docker images
      run: ./.docker/docker.sh push
    - name: Create and push manifest list
      run: ./.docker/docker.sh manifest-list
  release-artifact:
    name: Release new version
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: 'tasmoadmin/.nvmrc'
        cache: 'npm'
        cache-dependency-path: 'tasmoadmin/'
    - name: Generate .version
      run: echo "${{ github.ref_name }}" > tasmoadmin/.version
    - name: Package
      run: make package
    - name: Create GitHub release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          _releases/*
